html, body {
  margin: 0;
  padding: 0;
  background-color: #aaaaaa;
}
canvas {
  display: block;
}

section.presentation {
  position : absolute;
  top : 100px;
  color : purple;
  font-size : 1.8rem;
  font-family : 'Courier New', Courier, monospace;
}