html, body {
  margin: 0;
  padding: 0;
  background-color: #aaaaaa;
}
canvas {
  display: block;
}

.presentation {
  position : static;
  text-align: center;
  top : 0%;
  height: 10%;
  width: 100%;
  background-image:  radial-gradient(circle, red, yellow, green);
}

h1.presentation
{
  text-align: center;
  color : rgb(0, 0, 0);
  font-size : 1.8rem;
  font-family : 'Courier New', Courier, monospace;
}
