html, body {
  margin: 0;
  padding: 0;
  background-color: #212121;
}
canvas {
  display: block;
}

.presentation {
  position : absolute;
  text-align: center;
  top: 0%;
  height: 15%;
  width: 100%;
  background-image: radial-gradient(circle, #6d47af, #212121);
}

h1.presentation
{
  text-align: center;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff;
  font-size : 2rem;
  font-family : 'Courier New', Courier, monospace;
}
